@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-hover: #c2b2cc;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-hover: var(--color-hover);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ededed;
  }
}

body {
  background: oklch(27.4% 0.006 286.033);
  color: var(--foreground);
}

section {
  min-height: 100%;
}

footer {
  min-height: 20px;
  width: 100%;
  background: #202020;
  justify-content: center;
  padding: 10px;
  font-family: Calibri, sans_serif;
  font-size: 18px;

  margin-top: 10px;
  border-top-width: 1px;
  border-color: oklch(37.3% 0.034 259);
  color: oklch(55.1% 0.027 264.364);
  white-space: pre;
  flex-wrap: wrap;
  place-self: end;

  position:absolute;
  top:100vh;
  transform:translateY(-100%);
  width:100%;
}

header {
  min-width: 800px;
  background: #202020;
  justify-content: space-between;
  padding: 10px 20px 10px;
  font-family: 'Inter', sans-serif;
  font-size: 22px;
  vertical-align: baseline;
}

code {
  font-family: 'JetBrains Mono', monospace;
  font-size: 14px;
  vertical-align: baseline;
}

a:hover {
  color: var(--color-hover);
}

button:hover {
  color: var(--color-hover);
}
